/* Estilos generales para la página */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Raleway:wght@400;600;700&display=swap');

body {
    font-family: 'Nunito', sans-serif; /* Tipografía amigable */
    background: url('../img/back2.webp') no-repeat center center fixed; /* Imagen de fondo */
    background-size: cover; /* Cubrir todo el fondo */
    color: #333; /* Texto gris oscuro */
    margin: 8%;
    padding: 0;
    transition: background-color 0.3s; /* Transición para el color de fondo */
}

.box {
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de profundidad */
    transition: transform 0.3s ease-in-out; /* Transición para la animación */
    font-family: 'Raleway', sans-serif; /* Tipografía moderna */
}

.box:hover {
    transform: scale(1.05); /* Escalado al pasar el mouse */
}

/* Estilos para la sección de título */
.title {
    text-align: center;
    padding: 20px;
    font-family: 'Raleway', sans-serif; /* Tipografía moderna */
}

.title h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #222; /* Color del título */
}

.title p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555; /* Color del párrafo */
}

/* Estilo para los botones collapsible */
.collapsible {
    background-color: #3498db; /* Fondo azul */
    color: #fff; /* Texto blanco */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 10px; /* Bordes redondeados */
    transition: background-color 0.3s, transform 0.3s ease-in-out; /* Transición para el color de fondo y la animación */
    padding-left: 5%;
    margin-bottom: 4px;
    font-family: 'Raleway', sans-serif; /* Tipografía moderna */
}

.collapsible:hover {
    background-color: #2980b9; /* Color más oscuro al pasar el mouse */
    transform: translateX(10px); /* Animación de desplazamiento */
}

/* Estilo activo */
.collapsible.active {
    background-color: #2980b9; /* Color activo más oscuro */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}

/* Estilo para el contenido */
.content {
    overflow: hidden;
    background-color: #ecf0f1; /* Fondo gris claro */
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.5s ease-out; /* Animaciones */
    border-radius: 0 0 10px 10px;
    padding-left: 6%;
    font-family: 'Nunito', sans-serif; /* Tipografía amigable */
}

/* Mostrar el contenido cuando el botón está activo */
.collapsible.active + .content {
    max-height: 1000px; /* Altura máxima para el contenido desplegado */
    opacity: 1;
    margin-bottom: 3%;
    padding-bottom: 3%;
}

.content a {
    display: block;
    color: #e74c3c; /* Texto rojo */
    padding: 8px 0;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s ease-in-out; /* Transición para el color de fondo y la animación */
    font-family: 'Raleway', sans-serif; /* Tipografía moderna */
    border-radius: 10px; /* Bordes redondeados */
}

.content a:hover {
    background-color: #d1d1d1; /* Color más claro al pasar el mouse */
    transform: translateX(10px); /* Animación de desplazamiento */
    text-decoration: none; /* Sin subrayado */
}
 
/* Estilo para el footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #3498db; /* Fondo azul */
    color: #fff; /* Texto blanco */
    border-radius: 15px; /* Bordes redondeados */
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de profundidad */
    font-family: 'Raleway', sans-serif; /* Tipografía moderna */
}

footer p {
    margin: 0;
    font-size: 1rem;
}
